.navigation {min-width: 1em; float: left;}
.navigation :first-child { margin-top: 0; }
@media screen and (min-width: 64em) { .navigation { max-width: 64rem; padding: 2rem 6rem; margin: 0 auto; font-size: 1.1rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .navigation { padding: 2rem 4rem; font-size: 1.1rem; } }
@media screen and (max-width: 42em) { .navigation { padding: 2rem 1rem; font-size: 1rem; } }
.navigation img { max-width: 100%; }
.navigation h1, .navigation h2, .navigation h3, .navigation h4, .navigation h5, .navigation h6 { margin-top: 2rem; margin-bottom: 1rem; font-weight: normal; color: #159957; }
.navigation p { margin-bottom: 1em; }
.navigation code { padding: 2px 4px; font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 0.9rem; color: #567482; background-color: #f3f6fa; border-radius: 0.3rem; }
.navigation pre { padding: 0.8rem; margin-top: 0; margin-bottom: 1rem; font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace; color: #567482; word-wrap: normal; background-color: #f3f6fa; border: solid 1px #dce6f0; border-radius: 0.3rem; }
.navigation pre > code { padding: 0; margin: 0; font-size: 0.9rem; color: #567482; word-break: normal; white-space: pre; background: transparent; border: 0; }
.navigation .highlight { margin-bottom: 1rem; }
.navigation .highlight pre { margin-bottom: 0; word-break: normal; }
.navigation .highlight pre, .navigation pre { padding: 0.8rem; overflow: auto; font-size: 0.9rem; line-height: 1.45; border-radius: 0.3rem; -webkit-overflow-scrolling: touch; }
.navigation pre code, .navigation pre tt { display: inline; max-width: initial; padding: 0; margin: 0; overflow: initial; line-height: inherit; word-wrap: normal; background-color: transparent; border: 0; }
.navigation pre code:before, .navigation pre code:after, .navigation pre tt:before, .navigation pre tt:after { content: normal; }
.navigation ul, .navigation ol { margin-top: 0; }
.navigation blockquote { padding: 0 1rem; margin-left: 0; color: #819198; border-left: 0.3rem solid #dce6f0; }
.navigation blockquote > :first-child { margin-top: 0; }
.navigation blockquote > :last-child { margin-bottom: 0; }
.navigation table { display: block; width: 100%; overflow: auto; word-break: normal; word-break: keep-all; -webkit-overflow-scrolling: touch; }
.navigation table th { font-weight: bold; }
.navigation table th, .navigation table td { padding: 0.5rem 1rem; border: 1px solid #e9ebec; }
.navigation dl { padding: 0; }
.navigation dl dt { padding: 0; margin-top: 1rem; font-size: 1rem; font-weight: bold; }
.navigation dl dd { padding: 0; margin-bottom: 1rem; }
.navigation hr { height: 2px; padding: 0; margin: 1rem 0; background-color: #eff0f1; border: 0; }

.site-footer{ margin: 1rem 1rem 1rem 20rem;}