<!DOCTYPE html>
<html lang="en-us">
  
  {% include head.html %}

  <body>
    <div class="container-fluid">
      {% include page-header.html %}
      <div class="row">
        <nav class="col-md-2">
          {% include navigation.html %}
        </nav>
        <section class="col-md-10">
          <div class="row">
            <article class="col-md-10">
              {{ content }}
            </article>
            <aside class="col-md-2">
              Stats
            </aside>
          </div>
        </section>
      </div>
      {% include page-footer.html %}
    </div>
</html>
