<!DOCTYPE html>
<html lang="en-us">
  
  {% include head.html %}

  <body>
    <div class="container-fluid">
      {% include page-header.html %}
      <div class="row">
        <nav class="col-md-2">
          <div id="Stats">
              <div class="stat">
                <p class="stat-number" id="TotalDownloadCount">--</p>
                <p class="stat-label">Downloads</p>
              </div>
              <div class="stat">
                <p class="stat-number" id="LatestReleaseDownloadCount">--</p>
                <p class="stat-label">Downloads of <span id="LatestReleaseTagName"></span></p>
              </div>
          </div>
          {% include navigation.html %}
        </nav>
        <section class="col-md-10">
          <div class="row main-content">
            <article class="col-md-12">
              {{ content }}
            </article>
          </div>
        </section>
      </div>
      {% include page-footer.html %}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="/js/jquery-3.2.1.min.js"></script>    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/gitHubStatistics.js"></script>
    <!-- <script src="http://ldapcp-functions.azurewebsites.net/api/GetRepoStats?code=Xs141m0QqIUrDBfecYvdhOf0cJJ8sA2LygLgkVcKmTdwIU5ELx1OCg%3D%3D&callback=parseGitHubStatisticsResponse"></script> -->
  </body>
</html>
