<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataFile_AllAccounts_Search" value="F:\Data\Dev\LDAPCP_Tests_AllAccounts_Search.csv" />
    <add key="DataFile_AllAccounts_Validate" value="F:\Data\Dev\LDAPCP_Tests_AllAccounts_Validate.csv" />
    <add key="FarmAdmin" value="i:0#.w|contoso\yvand" />
    <add key="TestSiteCollectionUri" value="http://spsites/sites/LDAPCP.UnitTests" />
    <add key="TrustedGroupToAdd_ClaimValue" value="contoso.local\group1" />
    <add key="ClaimsProviderConfigName" value="LDAPCPConfig" />
  </appSettings>
</configuration>